---
export const prerender = true;
---

<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/support-index" />
    <script>
      window.location.href = "/support-index";
    </script>
  </head>
  <!-- <body>
    <p>Redirecting to support-index...</p>
  </body> -->
</html>
